@model Bookland.Models.ResetPasswordTemplateViewModel
Hi @Model.UserName,

<p>You requested for a password reset of your Bookland account.</p>
<p>Please click on (or copy and paste into your web browser's address bar) the following link: <a href='@Model.ResetUrl'>@Model.ResetUrl</a></p>
<p>You have 1 hour before your password reset request expires.</p>

<p>
    Sincerely,<br />
    The Bookland team
</p>
