@{
    ViewBag.Title = "Reset Your Password";
}

<h2>Reset Your Password</h2>

<p>Enter your <strong>user name</strong> below to send a password reset request to your email account:</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.TextBox("userName", "", new { autofocus = "", @class = "text-box single-line" })
    
    <input type="submit" value="Send" />
}